body:before {
  background: url(https://images.unsplash.com/photo-1415369629372-26f2fe60c467?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ec13e2bc38df66aaaf8d88ff4607dfe1&auto=format&fit=crop&w=500&q=60) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -10;
}

body {
  color: white;
  font-family: Lato;
  margin: 0 auto;
  text-align: center;
}

h1 {
	font-weight: 700;
  font-size: 5em;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

h3 {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1); 
}

p {
  font-size: 1.5em;
}

hr {
	border-top: 1px solid #f8f8f8;
  border-bottom: 1px solid rgba(0,0,0,0.2);
  max-width: 50%;
  width: 400px;
}

.form-control {
  color: black;
  margin: 0 auto;
  max-width: 90%;
  min-width: 50%;
  width: 450px;
}

.form-control::placeholder {
  color: rgba(0,0,0,0.7);
  opacity: 1;
}

#home {
  padding-top: 200px;
}

#about, #contact, #login, #signup {
  padding-top: 50px;
}

#about {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}

#questionBox {
  color: black;
  display: center;
  height: 100px;
  margin: 20px auto 20px auto;
  max-width: 90%;
  min-width: 50%;
  text-align: top;
  width: 450px;
}



